.links{
    color: var(--primary);
    transition: all 0.4s;
    
  }
  
  .links:hover{
  color: #d8b0ff;
  }
  
  
  .linksbtn{
    background-color: var(--primary);
    border-radius: 30px;
    border: #9e1eff;
  }
  
  .linksbtn:hover{
   background-color: var(--third);
   color: var(--secondary);
  }
  
  .linksbtn:active{
    color: var(--primary);
    background-color: var(--secondary);
  }
  
  .brand{
    background: radial-gradient(50% 50% at 50% 50%, #950FFF 63.54%, #ad5aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 20px;
  font-weight: 400;
   
  
  }
  
  
  
  .navigation{
    width: 100%;
    z-index: 5;
    position: fixed;
    background-color: var(--secondary);
  }
  
  .demo{
    width: 10em;
    /* background-color: var(--primary); */
    float: right;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 100px;
    letter-spacing: -0.1em;
    background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
  font-weight: 400;
  transition: all 0.4s;
    border: none;
    outline: 0px solid #B56BFE;
  }
  
  .demo:hover{
    width: 12em;
    border-radius: 100px;
  }
  

  .thebest{
    background: radial-gradient(50% 50% at 50% 50%, #d47dff 0%, #aa00ff 40.1%, #d08dfc 71.35%, #9000ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
  letter-spacing: -0.1em;
  font-weight: 600;
  font-size: 130px;
  position: relative;
  top: 6.5rem;
  }
  
  .ux{
    background: radial-gradient(50% 50% at 50% 50%, #cd7dff 0%, #ae00ff 40.1%, #d18dfc 71.35%, #9d00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
    letter-spacing: -0.1em;
  font-weight: 600;
  font-size: 250px;
  position: relative;
  top: 1.2rem;
  left: -1rem;
  }
  
  
  
  
  
  
  
  .ellipse{
    position: relative;
    background-color: var(--primary);
    filter: blur(30px);
    border-radius: 50%;
    height: 25px;
    top: -15rem;
    width: 90vw;
    animation: glow 12s infinite 0s;
  }
  
  
  .desc{
    position: relative;
    top: -12em;
    color: aliceblue;
    font-weight: 200;
    font-size: 18px;
  }
  
  
  
  
  .laptop{
    position: relative;
  left: -4em;
    top: -18em;
    height: 280px;
    width: 280px;
    z-index: 3;
    animation: move2 12s infinite 0s;
  }
  
  @keyframes move2 {
  
    0%{
      top: -17em;
    }
    25%{
      top: -16em;
    }
    50%{
      top: -17em;
    }
    75%{
      top: -16em;
    
    }
    100%{
      top: -17em;
    }
    
  }
  


  @media only screen and (max-width: 1000px) {
    .links{
      color: var(--primary);
      transition: all 0.4s;
      
    }
    
    .links:hover{
    color: #d8b0ff;
    }
    
    
    .linksbtn{
      background-color: var(--primary);
      border-radius: 30px;
      border: #9e1eff;
    }
    
    .linksbtn:hover{
     background-color: var(--third);
     color: var(--secondary);
    }
    
    .linksbtn:active{
      color: var(--primary);
      background-color: var(--secondary);
    }
    
    .brand{
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 63.54%, #ad5aff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 20px;
    font-weight: 400;
     
    
    }
    
    
    
    .navigation{
      width: 100%;
      bottom: 0;
      z-index: 5;
      position: fixed;
      background-color: var(--secondary);
    }
    
    .demo{
      width: 10em;
      /* background-color: var(--primary); */
      float: right;
      color: white;
      text-decoration: none;
      font-size: 16px;
      border-radius: 100px;
      letter-spacing: -0.1em;
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
    font-weight: 400;
    transition: all 0.4s;
      border: none;
      outline: 0px solid #B56BFE;
    }
    
    .demo:hover{
      width: 12em;
      border-radius: 100px;
    }
    
  
    .thebest{
      background: radial-gradient(50% 50% at 50% 50%, #d47dff 0%, #aa00ff 40.1%, #d08dfc 71.35%, #9000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 100px;
    position: relative;
    top: 7rem;
    }
    
    .ux{
      background: radial-gradient(50% 50% at 50% 50%, #cd7dff 0%, #ae00ff 40.1%, #d18dfc 71.35%, #9d00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
      letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 150px;
    position: relative;
    top: 3rem;
    left: -1rem;
    }
    
    
     
  .explore{
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, #9500ff 40.1%, #c76cff 100%);
    height: 2.5em;
    width: 12em;
    border-radius: 50px;
    text-decoration: none;
    top: 0em;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: -0.1em;
    font-weight: 300;
    transition: all 0.4s;
  }
  

  .explore:hover{
    width: 15em;
    border-radius: 5px;
  }
  
    
    
    
    .ellipse{
      position: relative;
      background-color: var(--primary);
      filter: blur(30px);
      border-radius: 50%;
      height: 20px;
      top: -3rem;
      width: 90vw;
      animation: glow 12s infinite 0s;
    }
    
    
    .desc{
      position: relative;
      top: 1em;
      color: aliceblue;
      font-weight: 200;
      font-size: 18px;
    }
    
    
    
    
    .laptop{
      position: relative;
    left: -3em;
      top: -18em;
      height: 180px;
      width: 180px;
      z-index: 3;
      animation: move2 12s infinite 0s;
    }
    
    @keyframes move2 {
    
      0%{
        top: -8em;
      }
      25%{
        top: -7em;
      }
      50%{
        top: -8em;
      }
      75%{
        top: -7em;
      
      }
      100%{
        top: -8em;
      }
      
    }
    
  }




  
  @media only screen and (max-width: 900px) {



    .links{
      color: var(--primary);
      transition: all 0.4s;
      
    }
    
    .links:hover{
    color: #d8b0ff;
    }
    
    
    .linksbtn{
      background-color: var(--primary);
      border-radius: 30px;
      border: #9e1eff;
    }
    
    .linksbtn:hover{
     background-color: var(--third);
     color: var(--secondary);
    }
    
    .linksbtn:active{
      color: var(--primary);
      background-color: var(--secondary);
    }
    
    .brand{
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 63.54%, #ad5aff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 20px;
    font-weight: 400;
     
    
    }
    
    
    
    .navigation{
      width: 100%;
      /* height: 5em; */
      bottom: 0;
      z-index: 5;
      position: fixed;
      background-color: var(--secondary);
    }
    
    .demo{
      width: 10em;
      /* background-color: var(--primary); */
      float: right;
      color: white;
      text-decoration: none;
      font-size: 16px;
      border-radius: 100px;
      letter-spacing: -0.1em;
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
    font-weight: 400;
    transition: all 0.4s;
      border: none;
      outline: 0px solid #B56BFE;
    }
    
    .demo:hover{
      width: 12em;
      border-radius: 100px;
    }
    
  
    .thebest{
      background: radial-gradient(50% 50% at 50% 50%, #d47dff 0%, #aa00ff 40.1%, #d08dfc 71.35%, #9000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 100px;
    position: relative;
    top: 32rem;
    }
    
    .ux{
      background: radial-gradient(50% 50% at 50% 50%, #cd7dff 0%, #ae00ff 40.1%, #d18dfc 71.35%, #9d00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
      letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 150px;
    position: relative;
    top: 3em;
    left: 0em;
    }
    
    
 
  

    
    
    
    .ellipse{
      position: relative;
      background-color: var(--primary);
      filter: blur(30px);
      border-radius: 50%;
      height: 20px;
      top: 5rem;
      width: 90vw;
      animation: glow 12s infinite 0s;
    }
    
    
    .desc{
      position: relative;
      top: 10em;
      color: aliceblue;
      font-weight: 200;
      font-size: 24px;
    }
    
    
    
    
    .laptop{
      position: relative;
    left: 0em;
      top: -10em;
      height: 400px;
      width: 400px;
      z-index: 3;
      animation: move2 12s infinite 0s;
    }
    
    @keyframes move2 {
    
      0%{
        top: -15em;
      }
      25%{
        top: -14em;
      }
      50%{
        top: -15em;
      }
      75%{
        top: -14em;
      
      }
      100%{
        top: -15em;
      }
      
    }


  }


  @media only screen and (max-width: 700px) {





  
    .thebest{
      background: radial-gradient(50% 50% at 50% 50%, #d47dff 0%, #aa00ff 40.1%, #d08dfc 71.35%, #9000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 80px;
    position: relative;
    top: 33rem;
    }
    
    .ux{
      background: radial-gradient(50% 50% at 50% 50%, #cd7dff 0%, #ae00ff 40.1%, #d18dfc 71.35%, #9d00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
      letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 120px;
    position: relative;
    top: 4em;
    left: 0em;
    }


    .laptop{
      position: relative;
    left: 0em;
      top: -10em;
      height: 400px;
      width: 400px;
      z-index: 3;
      animation: move2 12s infinite 0s;
    }
    
    @keyframes move2 {
    
      0%{
        top: -13em;
      }
      25%{
        top: -12em;
      }
      50%{
        top: -13em;
      }
      75%{
        top: -12em;
      
      }
      100%{
        top: -13em;
      }
      
    }


    
    .ellipse{
      position: relative;
      background-color: var(--primary);
      filter: blur(30px);
      border-radius: 50%;
      height: 20px;
      top: 7em;
      width: 90vw;
      animation: glow 12s infinite 0s;
    }
    




  }


  @media only screen and (max-width: 500px) {




    .thebest{
      background: radial-gradient(50% 50% at 50% 50%, #d47dff 0%, #aa00ff 40.1%, #d08dfc 71.35%, #9000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 60px;
    position: relative;
    top: 5.9em;
    }
    
    .ux{
      background: radial-gradient(50% 50% at 50% 50%, #cd7dff 0%, #ae00ff 40.1%, #d18dfc 71.35%, #9d00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
      letter-spacing: -0.1em;
    font-weight: 600;
    font-size: 90px;
    position: relative;
    top: 3.5em;
    left: 0em;
    }

    .desc{
      position: relative;
      top: 12em;
      margin: 1em;
      color: aliceblue;
      font-weight: 200;
      font-size: 18px;
    }


    .laptop{
      position: relative;
    left: 0em;
      top: -10em;
      height: 300px;
      width: 300px;
      z-index: 3;
      animation: move2 12s infinite 0s;
    }
    
    @keyframes move2 {
    
      0%{
        top: -11em;
      }
      25%{
        top: -10em;
      }
      50%{
        top: -11em;
      }
      75%{
        top: -10em;
      
      }
      100%{
        top: -11em;
      }
      
    }


    
    .ellipse{
      position: relative;
      background-color: var(--primary);
      filter: blur(30px);
      border-radius: 50%;
      height: 20px;
      top: 3em;
      width: 90vw;
      animation: glow 12s infinite 0s;
    }

  }