
.products{
    position: relative;
    font-size: 100px;
    top: 1em;
    background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.1em;
  }
  
  
  .productstext{
    position: relative;
    width: 500px;
    text-align: justify;
    color: var(--text);
    top: 7em;
    font-size: 18px;
    font-weight: 200;
  }
  
  
  .phone{
    position: relative;
    height: 514px;
    width: 629px;
    top: -6rem;
    left: 42em;
    animation: move-2 12s infinite 0s;
  }
  
  @keyframes move-2 {
  
  0%{
    top: -25rem;
  }
  25%{
    top: -24rem;
  }
  50%{
    top: -25rem;
  }
  75%{
    top: -24rem;
  
  }
  100%{
    top: -25rem;
  }
  
  }
  
  
  
  .ellipse-3{
    position: relative;
    background-color: var(--primary);
    filter: blur(20px);
    border-radius: 50%;
    height: 20px;
    top: -18em;
    width: 550px;
    left: 20em;
    animation: glow-2 12s infinite 0s;
  }
  
  @keyframes glow-2 {
  
  0%{
    filter: blur(50px);
  }
  25%{
     filter: blur(20px);
  }
  50%{
    filter: blur(50px);
  }
  75%{
     filter: blur(20px);
  
  }
  100%{
    filter: blur(50px);
  }
  }
  
  
  .productsoffered{
    position: relative;
    font-size: 40px;
    top: 12em;
    font-weight: 600;
    /* margin-left: 2em; */
    background: radial-gradient(80.64% 52.3% at 50.13% 54.6%,  #9224FF 43.57%, #C58AFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.1em;
  }
  
  .note{
    position: relative;
    font-size: 18px;
    letter-spacing: -0.1em;
    text-align: justify;
    top: 30em;
    width: 800px;
    font-weight: 200;
    color: var(--text);
  }
  





.panel {
    position: relative;
    top: 2em;
    font-size: 18px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  max-height: 0;
  width: 780px;
  font-weight: 200;
  color: var(--text);
  text-align: justify;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.uxdesign{
    position: relative;
    top: 0em;
    margin-top: 2em;
    width: 400px;
    height: 100px;
    font-size: 36px;
    letter-spacing: -0.1em;
    background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
    color: #010101;
    font-weight: 600;
   transition: all 0.4s;
    border-radius: 100px;
  }

  .uxdesign:hover{
    border-radius: 10px;
    width: 800px;
  }

  .description , .deliverables, .value{
    position: relative;
    margin-top: 3em;
    font-size: 24px;
    background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
   
  }




  @media only screen and (max-width: 1000px) {



    .products{
      position: relative;
      font-size: 100px;
      top: 1em;
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -0.1em;
    }
    
    
    .productstext{
      position: relative;
      width: 350px;
      text-align: justify;
      color: rgb(198, 173, 211);
      top: 7em;
      font-size: 18px;
      font-weight: 200;
    }
    
    
    .phone{
      position: relative;
      height: 347px;
      width: 480px;
      top: -20rem;
      left: 28em;
      animation: move-2 12s infinite 0s;
    }
    
    @keyframes move-2 {
    
    0%{
      top: -25rem;
    }
    25%{
      top: -24rem;
    }
    50%{
      top: -25rem;
    }
    75%{
      top: -24rem;
    
    }
    100%{
      top: -25rem;
    }
    
    }
    
    
    
    .ellipse-3{
      position: relative;
      background-color: var(--primary);
      filter: blur(20px);
      border-radius: 50%;
      height: 20px;
      top: -18em;
      width: 550px;
      left: 14em;
      animation: glow-2 12s infinite 0s;
    }
    
    @keyframes glow-2 {
    
    0%{
      filter: blur(50px);
    }
    25%{
       filter: blur(20px);
    }
    50%{
      filter: blur(50px);
    }
    75%{
       filter: blur(20px);
    
    }
    100%{
      filter: blur(50px);
    }
    }
    
    
    .productsoffered{
      position: relative;
      font-size: 40px;
      top: 8em;
      font-weight: 600;
      /* margin-left: 2em; */
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%,  #9224FF 43.57%, #C58AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -0.1em;
    }
    
    .note{
      position: relative;
      font-size: 18px;
      letter-spacing: -0.1em;
      text-align: justify;
      top: 20em;
      width: 800px;
      color: #ecdeff;
    }
    
  
  
  
  
  
  .panel {
      position: relative;
      top: 2em;
      font-size: 18px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    max-height: 0;
    width: 780px;
    font-weight: 300;
    color: #d7afff;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  .uxdesign{
      position: relative;
      top: 0em;
      margin-top: 2em;
      width: 400px;
      height: 100px;
      font-size: 36px;
      letter-spacing: -0.1em;
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
      color: #010101;
      font-weight: 600;
     transition: all 0.4s;
      border-radius: 100px;
    }
  
    .uxdesign:hover{
      border-radius: 10px;
      width: 800px;
    }
  
    .description , .deliverables, .value{
      position: relative;
      margin-top: 3em;
      font-size: 24px;
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 30px;
      font-family: 'Inter', sans-serif;
     
    }


  }


  @media only screen and (max-width: 900px) {


    .products{
      position: relative;
      font-size: 100px;
      top: 20em;
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -0.1em;
    }
    
    
    .productstext{
      position: relative;
      width: 500px;
      text-align: justify;
      color: rgb(198, 173, 211);
      top: 80em;
      font-size: 18px;
      font-weight: 300;
    }
    
    
    .phone{
      position: relative;
      height: 514px;
      width: 629px;
      top: -6rem;
      left: 42em;
      animation: move-2 12s infinite 0s;
    }
    
    @keyframes move-2 {
    
    0%{
      top: -25rem;
    }
    25%{
      top: -24rem;
    }
    50%{
      top: -25rem;
    }
    75%{
      top: -24rem;
    
    }
    100%{
      top: -25rem;
    }
    
    }
    
    
    
    .ellipse-3{
      position: relative;
      background-color: var(--primary);
      filter: blur(20px);
      border-radius: 50%;
      height: 20px;
      top: -18em;
      width: 550px;
      left: 20em;
      animation: glow-2 12s infinite 0s;
    }
    
    @keyframes glow-2 {
    
    0%{
      filter: blur(50px);
    }
    25%{
       filter: blur(20px);
    }
    50%{
      filter: blur(50px);
    }
    75%{
       filter: blur(20px);
    
    }
    100%{
      filter: blur(50px);
    }
    }
    
    
    .productsoffered{
      position: relative;
      font-size: 40px;
      top: 12em;
      font-weight: 600;
      /* margin-left: 2em; */
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%,  #9224FF 43.57%, #C58AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -0.1em;
    }
    
    .note{
      position: relative;
      font-size: 18px;
      letter-spacing: -0.1em;
      text-align: justify;
      top: 30em;
      width: 800px;
      color: #C293FF;
    }
    
  
  
  
  
  
  .panel {
      position: relative;
      top: 2em;
      font-size: 18px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    max-height: 0;
    width: 780px;
    font-weight: 300;
    color: #d7afff;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  .uxdesign{
      position: relative;
      top: 0em;
      margin-top: 2em;
      width: 400px;
      height: 100px;
      font-size: 36px;
      letter-spacing: -0.1em;
      background: radial-gradient(50% 50% at 50% 50%, #950FFF 51.56%, #B56BFE 100%);
      color: #010101;
      font-weight: 600;
     transition: all 0.4s;
      border-radius: 100px;
    }
  
    .uxdesign:hover{
      border-radius: 10px;
      width: 800px;
    }
  
    .description , .deliverables, .value{
      position: relative;
      margin-top: 3em;
      font-size: 24px;
      background: radial-gradient(80.64% 52.3% at 50.13% 54.6%, #C293FF 0%, #9224FF 43.57%, #C58AFF 100%);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 30px;
      font-family: 'Inter', sans-serif;
     
    }


  }